<a href="https://colab.research.google.com/github/BisolaKadiri/Restaurant-Analysis_Cognifyz-Tech/blob/main/Cognifyz_Tech_Level_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Import Python Libraries

import numpy as np
import pandas as pd

In [ ]:
#Mount Google Drive to access the file

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#Define file path and load the data

file_path = '/content/drive/MyDrive/Cognifz_Dataset.csv'

data = pd.read_csv(file_path)

In [ ]:
#Check the first 5 rows of the dataset

data.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

# **Table Booking and Online Delivery**

In [ ]:
#Count total restaurants
total_restaurants = len(data)

print(total_restaurants)

9551

In [ ]:
#Determine the percentage of restaurants that offer online delivery

#Count restaurants that offer only online delivery
online_delivery_count = len(data[data["Has Online delivery"] == "Yes"])

#Calculate percentage of online delivery
percentage_online_delivery = (online_delivery_count / total_restaurants) * 100

print(f"{percentage_online_delivery:.2f}%")

25.66%

In [ ]:
#Determine the percentage of restaurants that offer table booking

#Count restaurants that offer only table booking
table_booking_count = len(data[data["Has Table booking"] == "Yes"])

#Calculate percentages
percentage_table_booking = (table_booking_count / total_restaurants) * 100

print(f"{percentage_table_booking:.2f}%")

12.12%

In [ ]:
#Compare the average ratings of restaurants with table booking and those without

#Calculate the average rating for restaurants with and without table booking
avg_rating_with_table_booking = data[data["Has Table booking"] == "Yes"]["Aggregate rating"].mean()
avg_rating_without_table_booking = data[data["Has Table booking"] == "No"]["Aggregate rating"].mean()

print(f"Average rating (with table booking): {avg_rating_with_table_booking:.2f}%")
print(f"Average rating (without table booking): {avg_rating_without_table_booking:.2f}%")

Average rating (with table booking): 3.44%
Average rating (without table booking): 2.56%

In [ ]:
#Analyze the availability of online delivery among restaurants with different price ranges

#Group by price range and calculate the percentage of restaurants offering online delivery
price_range_analysis = data.groupby("Price range")["Has Online delivery"].apply(lambda x: (x == "Yes").mean() * 100).round(2)

print(price_range_analysis)

Price range
1    15.77
2    41.31
3    29.19
4     9.04
Name: Has Online delivery, dtype: float64

# **Price Range Analysis**

In [ ]:
#Determine the most common price range among all the restaurants.

most_common_price_range = data["Price range"].mode()[0]
print(f"The most common price range is price range {most_common_price_range}")

The most common price range is price range 1

In [ ]:
#Calculate the average rating for each price range.

avg_rating_by_price = data.groupby("Price range")["Aggregate rating"].mean().round(2)
print(avg_rating_by_price)

Price range
1    2.00
2    2.94
3    3.68
4    3.82
Name: Aggregate rating, dtype: float64

In [ ]:
#Identify the price range with the highest average rating

highest_avg_rating_price_range = avg_rating_by_price.idxmax()
print(f"The price range with the highest average rating is price range {highest_avg_rating_price_range}")

The price range with the highest average rating is price range 4

In [ ]:
#Identify the color corresponding to the highest average rating price range by assigning a color to each price range

color_mapping = {1: "Green", 2: "Yellow", 3: "Orange", 4: "Red"}
highest_rating_color = color_mapping.get(highest_avg_rating_price_range, "Unknown")

print(f"Most Common Price Range: {most_common_price_range} (Budget Restaurants)\n")
print("Average Ratings by Price Range:")
for price, rating in avg_rating_by_price.items():
    print(f"- Price Range {price}: {rating:.2f}")

print(f"\nColor Representing the Highest Average Rating: {highest_rating_color} (Price Range {highest_avg_rating_price_range})")

Most Common Price Range: 1 (Budget Restaurants)

Average Ratings by Price Range:
- Price Range 1: 2.00
- Price Range 2: 2.94
- Price Range 3: 3.68
- Price Range 4: 3.82

Color Representing the Highest Average Rating: Red (Price Range 4)

# **Feature Engineering**

In [ ]:
#Extract additional features from the existing columns, such as the length of the restaurant name or address.

data["Restaurant Name Length"] = data["Restaurant Name"].apply(len)
data["Address Length"] = data["Address"].apply(len)

print(data[["Restaurant Name", "Restaurant Name Length", "Address", "Address Length"]])

               Restaurant Name  Restaurant Name Length  \
0             Le Petit Souffle                      16
1             Izakaya Kikufuji                      16
2       Heat - Edsa Shangri-La                      22
3                         Ooma                       4
4                  Sambo Kojin                      11
...                        ...                     ...
9546               Naml۱ Gurme                      11
9547              Ceviz A��ac۱                      12
9548                     Huqqa                       5
9549               A���k Kahve                      11
9550  Walter's Coffee Roastery                      24

                                                Address  Address Length
0     Third Floor, Century City Mall, Kalayaan Avenu...              71
1     Little Tokyo, 2277 Chino Roces Avenue, Legaspi...              67
2     Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...              56
3     Third Floor, Mega Fashion Hall, SM Megamall, O...              70
4     Third Floor, Mega Atrium, SM Megamall, Ortigas...              64
...                                                 ...             ...
9546  Kemanke�� Karamustafa Pa��a Mahallesi, R۱ht۱m ...             103
9547  Ko��uyolu Mahallesi, Muhittin ��st�_nda�� Cadd...              77
9548  Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...              73
9549  Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...              75
9550  Cafea��a Mahallesi, Bademalt۱ Sokak, No 21/B, ...              65

[9551 rows x 4 columns]

In [ ]:
#Create new features like "Has Table Booking" or "Has Online Delivery" by encoding categorical variables

data["Has Table Booking"] = data["Has Table booking"].apply(lambda x: 1 if x == "Yes" else 0)
data["Has Online Delivery"] = data["Has Online delivery"].apply(lambda x: 1 if x == "Yes" else 0)

print(data[["Has Table Booking", "Has Online Delivery"]])

      Has Table Booking  Has Online Delivery
0                     1                    0
1                     1                    0
2                     1                    0
3                     0                    0
4                     1                    0
...                 ...                  ...
9546                  0                    0
9547                  0                    0
9548                  0                    0
9549                  0                    0
9550                  0                    0

[9551 rows x 2 columns]